/node_modules
/vendor
/.env
/storage/*.key
/.phpunit.cache
/.git
/tests
/.editorconfig
/.gitattributes
/.gitignore
/phpunit.xml
/README.md
/pdf
*.sql
*.php.bak
check*.php
debug*.php
dump*.php
fix*.php
force*.php
list*.php
read*.php
reset*.php
test*.php
verify*.php
